{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- research -->
{{ with .Params.research }}
{{ if .enable }}
<section class="section bg-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <div class="container">
          <div class="row">
            <p> Line of research1 </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
	    <div class="container">
	      <div class="row">
	        <p> Line of research2 </p>
	      </div>
	    </div>
	  </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}
<!-- /research-->

{{ end }}
