{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- research -->
{{ with .Params.research }}
{{ if .enable }}
<section class="research section bg-gray">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <div class="container">
          <div class="row">
            {{ with .title2a }}<h4><p>{{ . | markdownify }}</p></h4>{{ end }}
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
	    <div class="container">
	      <div class="row">
	        {{ with .title2b }}<h4><p>{{ . | markdownify }}</p></h4>{{ end }}
	      </div>
	    </div>
	  </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}
<!-- /research-->

{{ end }}
