{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- research -->
{{ with .Params.research }}
{{ if .enable }}
<section class="research section bg-gray">
  <div class="container research-pics">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <div class="container">
          <div class="row">
            <h4>Study of microbial communities subjected<br>to perturbations using omics approaches</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
	      <div class="container">
	        <div class="row">
	          <h4>Development of chemometric tools</h4>
	        </div>
	      </div>
      </div>
	  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ with .title2a }}<h3>{{ . | markdownify }}</h3>{{ end }}
        <div class="container">
          {{ with .title2a_part1 }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .title2a_part2 }}<p>{{ . | markdownify }}</p>{{ end }}
          <ol>
            {{ range .title2a_part3 }}
            <li><p>{{ .item | markdownify }}</p></li>
            {{ end }}
          </ol>
          {{ with .title2a_part4 }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .title2a_part5 }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .title2a_part6 }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .title2a_part7 }}<p>{{ . | markdownify }}</p>{{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ with .title2b }}<h3>{{ . | markdownify }}</h3>{{ end }}
        <div class="container">
          {{ with .title2b_part1 }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .title2b_part2 }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .title2b_part3 }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .title2b_part4 }}<p>{{ . | markdownify }}</p>{{ end }}
          <ol>
            {{ range .title2b_part5 }}
            <li><p>{{ .item | markdownify }}</p></li>
            {{ end }}
          </ol>
          {{ with .title2b_part6 }}<p>{{ . | markdownify }}</p>{{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
{{ end }}
<!-- /research-->

{{ end }}
